/* ----------------------------------------- */
* {
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: HeadingProDouble-Regular;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

/* -------------------------------------------------*/

.navbar .nav-link {
    color: rgb(0, 0, 0) !important;
    top: 0;
}

.navbar .nav-item {
    margin-left: 100px;
}

.navbar-toggler,
.navbar-toggler-icon {
    color: black !important;
    border-color: black !important;
    float: right;
}

.navbar-brand {
    color: black !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

i {
    margin-right: 20px;
    height: 40px !important;
    width: 40px !important;
}

/* -------------------------------------------------*/
header {
    background-image: url("../document/salle_de_sport.jpg");
    background-size: cover;
    width: calc(100%);
    height: 700px;
    color: #ffc107;
}

.grandTitre {
    vertical-align: middle;
    line-height: 800px;
    font-size: 100px;
}

.taille {
    font-size: 3em;
}

.taille2 {
    font-size: 2em;
}

.taille3 {
    font-size: 1.5em;
}

.taille4 {
    font-size: 1.25em;
}

.fw {
    font-weight: 900;
}

.card table {
    font-size: 1em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7) !important;
}

.depasse {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* -------------------------------------------------*/

.type {
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #ffc107;
    isolation: isolate;
    color: black;
    margin: 10px;
}

.nav-link,
.nav-link:hover {
    color: black;
    border-radius: 0px !important;
}


/* -------------------------------------------------*/
.sec {
    margin: 2%;
}

.card {
    border-radius: 50px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3) !important;
    background-color: #ffc107;
}

.card-img-top {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 250px;
}

.detail {
    height: 260px;
    overflow-y: scroll;
    font-size: 1em;
}

.detail2 {
    height: 1100px;
    overflow-y: scroll;
}

.img-muscle {
    max-width: 400px;
    max-height: 400px;
    float: right;
    border: solid;
}

.btn-i {
    float: right;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 1em;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (min-width: 576px) {
    .modalInfo {
        max-width: 95% !important;
    }

    .modalExo {
        max-width: 95% !important;
    }

    .modalExoIn {
        height: 1500px !important;
    }
}

.btn-prog {
    border-radius: 20px;
    width: 300px;
    height: 80px;
    font-size: 1em;
    float: right !important;
}

/* ----------------------------------------- */

.imgExo {
    height: 500px;
    width: 100%;
}

hr {
    color: #ffc107;
    height: 8px !important;
    opacity: 1;
    border-radius: 5px;
}

.ligneTabColor {
    background-color: #ffc107;
}

.ligneTabNull {
    background-color: white;
}

.btn-module {
    border-radius: 20px;
    width: 200px;
    height: 120px;
    font-size: 2em;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-module2 {
    border-radius: 150px;
    width: 150px;
    height: 150px;
    font-size: 2em;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-module3 {
    border-radius: 40px;
    width: 220px;
    height: 90px;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.modal-footer {
    justify-content: space-between;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/5em auto no-repeat;
}

.roundExo {
    width: 4rem;
    height: 4rem;
    font-size: 2em;
}

.roundExoColor {
    background-color: #ffc107;
}

.progBar {
    width: 100%;
}

/* ----------------------------------------- */

.orange,
.btn-warning,
.bg-warning {
    background-color: #ffc107 !important;
    color: black !important;
}

/* ----------------------------------------- */
