/* ----------------------------------------- */
* {
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    /*width: 100%;*/
    font-family: HeadingProDouble-Regular;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

/*
@media only screen and (min-width: 700px) {
    body {
        background-color: red;
        width: 700px;
    }
}
*/


/* ---------------- NavBar ------------------*/

.navbar {
    border-radius: 0 0 100px 100px;
    padding-left: 60px;
    padding-right: 85px;
    min-height: 120px;
}

.navbar .nav-link {
    color: rgb(0, 0, 0) !important;
    top: 0;
}

.navbar .nav-item {
    margin-left: 10%;
    line-height: 70px;
}

.navbar-toggler,
.navbar-toggler-icon {
    color: black !important;
    border-color: black !important;
    float: right;
}

.navbar-brand {
    color: black !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav i {
    margin-right: 20px;
    height: 40px !important;
    width: 40px !important;
}

.navBarHaut {
    margin-top: -25px;
}

/* -------------- Header ------------------*/
header {
    background-size: cover;
    width: calc(100%);
    height: 800px;
    color: #ffc107;

    z-index: -1;
    position: fixed;

    top: 0;
}

.img-header {
    width: 350px;

    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);

    opacity: 1;

    animation: img-headerBefore 2s;
}

@keyframes img-headerBefore {
    0% {
        left: -10%;
        opacity: 0;
    }
}

.grandTitre {
    font-size: 100px;

    position: absolute;
    top: 55%;
    left: 68%;
    transform: translate(-50%, -50%);

    opacity: 1;

    animation: grandTitreBefore 2s;
}

@keyframes grandTitreBefore {
    0% {
        left: 110%;
        opacity: 0;
    }
}

/* -------------- Taille texte ------------------*/

.taille {
    font-size: 3em;
}

.taille1 {
    font-size: 2.5em;
}

.taille2 {
    font-size: 2em;
}

.taille3 {
    font-size: 1.5em;
}

.taille4 {
    font-size: 1.25em;
}

.taille5 {
    font-size: 1em;
    opacity: 0.75;
}

.fw-9 {
    font-weight: 900;
}

.fw-6 {
    font-weight: 600;
}

.card table {
    font-size: 1em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7) !important;
}

.depasse {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.center-h-v {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

/* -------------- Liste ---------------------*/

.type {
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.0);
    isolation: isolate;
    color: black;
    margin: 10px;
    box-shadow: -7px -7px 10px 0 rgba(255, 255, 255),
        5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.typeActive {
    box-shadow: inset -7px -7px 10px 0 rgba(255, 255, 255, 0.7),
        inset 7px 7px 10px 0 rgba(0, 0, 0, 0.2);
}

.nav-link,
.nav-link:hover {
    color: black;
    border-radius: 0px !important;
    border-color: rgba(0, 0, 0, 0.0);
}


/* -------------- Section -------------------*/
section {
    padding: 5%;
    background-color: rgb(240, 240, 240);
}

.sectionTitre {
    position: sticky;
    min-height: 200px;
    max-height: 300px;
    top: 119px;
    z-index: 5;
    box-shadow: 0 0.1em 3rem rgba(0, 0, 0, 0.3) !important;
}

.sectionInfo {
    padding-top: 8%;
    min-height: 1000px;
}

/* -------------- Cards -------------------*/

.card {
    border-radius: 30px;
    background: rgb(240, 240, 240);
    box-shadow: 0.8em 0.8em 0.8em rgba(0, 0, 0, 0.3);
}

.card-img-bloc {
    margin: 5% 5% 0% 5%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.card-img-top {
    max-height: 100%;
    min-height: 80%;
    width: auto;
    max-width: 100%;
    padding: 5% 0 5% 0;
}

.card-img-bloc2 {
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.detail {
    height: 280px;
    overflow-y: scroll;
    font-size: 1em;
}

.detail2 {
    height: 1100px;
    overflow-y: scroll;
}

.detail3 {
    overflow-y: scroll;
    padding-top: 0px;
}

#detail4 {
    border-radius: 5em;
    border: 3px solid black;
}

.detail4_Up,
.detail4_Down {
    overflow-y: scroll;
    padding: 0% 2%;
    padding-bottom: 100px;
}

.detail4_Up {
    height: 48vh;
}

.detail4_Down {
    height: 0px;
}

.detail5 {
    height: 1000px;
    overflow-y: scroll;
    margin-bottom: 10%;
}

.detail6 {
    overflow-y: scroll;
}


.img-muscle {
    max-width: 400px;
    max-height: 400px;
    float: right;
    border: solid;
}

.cardDescription {
    margin: 1em 0.5em 1em 0.5em;
}

/* -------------- btn cards -------------------*/

.btnInfoCard {
    left: 30%;
    border-radius: 15px;
    width: 95%;
    height: 50px;
    font-size: 1em;
    margin: 10px;
}

.btn-prog {
    border-top-right-radius: 50px;
    width: 300px;
    height: 89px;
    font-size: 1em;
    position: absolute;
    left: 100% !important;
    transform: translate(-100%, -10%) !important;
}

/* ------------- List Programmes ----------------- */

.list-group {
    border-radius: 50px;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.list-group-item {
    padding-left: 50px;
}

/* ------------- Modal Exo ----------------- */

.imgExo {
    max-height: 100%;
    min-height: 75%;
    max-width: 100%;
    width: auto;
}

.hr-orange {
    color: #ffc107;
    height: 10px !important;
    opacity: 1;
    border-radius: 5px;
    /*margin: -20px 0 20px 0;*/
}

select {
    border: none;
    height: 140px;
    background-image: linear-gradient(white, grey, white);
    width: 50px;
    text-align: center;
}

.modal-dialog {
    max-width: 900px;
}

.modal-footer {
    justify-content: center;
    font-size: 2.5em;
    height: 300px;
}

.espace {
    width: 50px;
}

/* -------------- btn Modal -------------------*/

.btn-module2 {
    border-radius: 150px;
    width: 150px;
    height: 150px;
    font-size: 2em;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-module3 {
    width: 600px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 2.5em;
    font-weight: 900;
    background-color: rgb(240, 240, 240);
    box-shadow: -7px -7px 10px 0 rgb(255 255 255),
        5px 5px 10px 0 rgb(0 0 0 / 20%);
}

.btn-module3:active {
    box-shadow: inset -7px -7px 10px 0 rgba(255, 255, 255, 0.7),
        inset 7px 7px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-module4 {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    font-size: 2rem !important;
    background-color: rgb(240, 240, 240);
    box-shadow: -5px -5px 10px 0 rgb(255 255 255),
        5px 5px 10px 0 rgb(0 0 0 / 20%);
}

.btn-module4 i {
    color: black !important;
}


.btn-i {
    font-size: 2em;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/5em auto no-repeat;
}

/* ------------- Temps ---------------- */

.temps {
    width: 300px;
    text-align: center;
}

.temps1,
.temps2 {
    width: 140px;
    display: inline-block;
    font-size: 2em;
    opacity: 0.8;
    margin: 1%;
}

/* ------------- Background ---------------- */

.orange,
.btn-warning,
.bg-warning {
    background-color: #ffc107 !important;
    color: black !important;
}

.white {
    background-color: white;
}

.fd-vert {
    background-color: rgb(25, 135, 84, 50%);
}

.fd-orange {
    background-color: rgb(255, 193, 7, 50%);
}


/* ----------- id: Section ----------------- */

.bouchon1 {
    height: 800px;
    z-index: 5;
}

.bouchon2-1 {
    height: 130px;
    width: 130px;

    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: -5;
    transform: translate(0, -129px);

    background-color: rgba(0, 0, 0, 0.0);
    background-image: radial-gradient(circle at 130px 0px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 130px, rgb(240, 240, 240) 60px);
}

.bouchon2-2 {
    height: 130px;
    width: 130px;

    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: -5;
    transform: translate(0, -129px);

    background-color: rgba(0, 0, 0, 0.0);
    background-image: radial-gradient(circle at 0px 0px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 130px, rgb(240, 240, 240) 60px);
}

.bouchon2-3 {
    height: 130px;
    width: 130px;

    position: absolute !important;
    left: 0 !important;
    top: 100% !important;
    z-index: -5;
    transform: translate(0, -1px);

    background-color: rgba(0, 0, 0, 0.0);
    background-image: radial-gradient(circle at 130px 130px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 130px, rgb(240, 240, 240) 60px);
}

.bouchon2-4 {
    height: 130px;
    width: 130px;

    position: absolute !important;
    right: 0 !important;
    top: 100% !important;
    z-index: -5;
    transform: translate(0, -1px);

    background-color: rgba(0, 0, 0, 0.0);
    background-image: radial-gradient(circle at 0px 130px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 130px, rgb(240, 240, 240) 30px);
}

.bouchon3 {
    height: 220px;
    z-index: 5;
}

.bouchon4 {
    z-index: 5;
    padding: 0 5%;
}

/* ----------- fiche résultat ----------- */

.txtExo {
    margin-left: 5%;
}

.txtRep {
    margin-left: 10%;
    margin-bottom: 0px;
}

/* -------------- Liste Exo -------------------*/

#accueil {
    padding: 1%;
    padding-top: 5%;
    min-height: 2000px;
}

.pageTitre {
    position: sticky;
    vertical-align: middle;
    top: 390px;

    line-height: 130px;
    background-color: rgb(240, 240, 240);
    z-index: 3;

    box-shadow: 0 1em 2rem rgb(240 240 240) !important;
}

.ligneExo {
    height: 250px;
    margin-top: 50px;
}

.ligne-img-bloc {
    float: left;
    height: 250px;
    width: 350px;
    background-color: white;
    margin-right: 3%;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ligne-img-left {
    max-height: 100%;
    min-height: 80%;
    max-width: 100%;
    width: auto;
    padding: 5%;
}

.ligne-txt {
    padding: 1%;
}

.ligneTitre {
    margin-bottom: -5px;
    margin-top: 20px;
}

.ligneDescription {
    overflow: hidden;
    text-overflow: ellipsis !important;

    height: 75px;
    margin-top: 20px;
}

.btnInfoExo {
    float: right;
    width: 130px;
    font-size: 2em;
    font-weight: 900;
    background-color: #ffc107;
    border-radius: 30px;
    border: none;
    margin: 1% 0 0 1%;
    color: black;
}


/* ----------- Page Exo du prog ---------------*/
#blocFicheResultat {
    padding: 0;
}

#ficheResultat {
    padding: 20% 3%;
    width: 100%;
    position: fixed;
}

#listExo {
    padding-bottom: 30%;
    height: 1500px;
    overflow-y: scroll;
}

.ticket0 {
    width: 100vw;
    height: 89vh;
    overflow-y: hidden;
}

.ticket1,
.ticket2 {
    border-radius: 100px 100px 0 0;
    position: sticky;
}


.ticket1 {
    background-color: rgb(255, 255, 255);
    z-index: 1055;
}

.ticket1_Up {
    margin-top: 0px;
}

.ticket1_Down {
    margin-top: 81vh;
}

.ticket2 {
    background-color: rgb(220, 220, 220);
    z-index: 1060;
    position: relative;
    bottom: 0;
}

.ticket2_Up {
    margin-top: -54vh;
}

.ticket2_Down {
    margin-top: -200px;
}

.bloc-tiret {
    height: 150px;
}

.tiret {
    height: 5px;
    width: 400px;
    background-color: black;

    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.exoHead {
    border-bottom: 2px solid black;
}

.exoBody {
    height: 1100px;
    overflow-y: scroll;
}

.exoFooter {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
}

/* --------------- ticket 2 ---------------- */

.ligne-list-exo {
    height: 250px;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    border-radius: 5em;
}

.ligne-img-bloc2 {
    float: left;
    height: 200px;
    width: 300px;
    background-color: white;
    margin-right: 3%;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ligne-img-left2 {
    max-height: 100%;
    min-height: 80%;
    max-width: 100%;
    width: auto;
    padding: 5%;
}

.txt-center {
    width: 450px;
    display: inline-block;
    text-align: center;
}


.triangle1 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #ffc107;

    display: inline-block;
    transform: translate(30%, 0%);
}

.triangle2 {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #ffc107;

    display: inline-block;
    transform: translate(30%, 0%);
}

.exoActu {
    background-color: rgb(200, 200, 200);
    transition: background-color 0.75s;
}

.exoFini {
    background-color: rgb(200, 200, 200, 0.5);
}

.serieActu {
    background-color: rgb(255, 193, 7, 0.75);
    font-size: 2em !important;
    transition: background-color 0.5s;
}

.div-btn {
    width: 100%;
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

.btn-ticket2 {
    width: 600px;
    border-radius: 20px;
    background-color: #ffc107;
}

/* ----------- Page résultat ---------------*/

/* ---- Mini tab ------ */
.lineMiniTab,
.lineMiniTabHead {
    width: 100%;
    margin: -5px 0 -5px 0;

    border-collapse: collapse;
}

.lineMiniTabHead {
    line-height: 30px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.lineMiniTab {
    line-height: 45px;
    margin-top: 1%;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.caseMiniTab_3 {
    display: inline-block;
    width: 30%;
    margin: 0%;
    padding-left: 10%;
}

/* ------- tab ------ */

.tableStat {
    margin-bottom: 3%;
}

.lineTab,
.lineTabHead {
    width: 100%;
    line-height: 40px;

    border-collapse: collapse;
}

.lineTabHead {
    padding: 2% 5%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.lineTab {
    padding: 2% 5%;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    border-radius: 50px;
}

/* SE = start, end */
.caseTab_4_SE,
.caseTab_4_Mid {
    display: inline-block;
    margin: 0;
    text-align: center !important;
}

.caseTab_4_Mid {
    width: 35%;
}

.caseTab_4_SE {
    width: 12%;
}

input {
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
}

.input2 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: center;
}

.valeurTab {
    text-align: center;
    margin: 0;
}

/* -------------------------------------------------- */

.none {
    display: none;
}

.block {
    display: block;
    transition: display 0.5s;
}

.visibility_none {
    visibility: hidden;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.absolute {
    position: absolute;
}

/* ------------ Musique ----------------- */

.offcanvas-start {
    width: 60%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgb(240, 240, 240);
}

.offcanvas-header {
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.btn-canvas {
    position: absolute;
    right: 10%;
    top: 50px;
}

audio {
    width: 100%;
    font-size: 3em;
}

.musicImg {
    width: 450px;
    height: 400px;
    background-color: rgb(60, 60, 60);
}

.musicPlayeurBloc,
.musicImgBloc {
    width: 100%;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
}

.p-null {
    margin: 0;
}

.musicPlayeur {
    width: 100%;
    height: 75px;
    padding: 2%;
    border-radius: 50px;
    background-color: rgb(60, 60, 60);
}

.musicTitre {
    width: 100%;
    text-align: center;
}

.ligne-list-music {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ligne-img-bloc-music {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: -5%;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ligne-img-music {
    height: 100%;
    width: 100%;
    width: auto;
    padding: 5%;
    border-radius: 50px;
}

.musicBlocTxt {
    width: 250px;
    align-items: center;
    text-align: center;
}


.triangle3 {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #ffc107;

    display: inline-block;
    transform: translate(-15%, 0%);
}